section {
  padding: 4% 1em 10%;
  text-align: center;
}

img{
  border-radius: 4px;
  text-align: center;
}

.main, .bar.bar-stable {
  background-color: #fcf2ee;
}


.button.button-light {
    border-radius: 50px;
    border: 3px solid #00B992;
    color: #333;
    overflow: hidden;
    background: #fff;
    padding: 0px 50px;
    margin-bottom: 20px;
}

.cs-select{
    border: 3px solid #f5bca8;
    border-radius: 4px;
  }

.item{
  background-color: initial;
}

.item.item-stable {
  background-color: initial;
  color: #f8f8f8;
  border-bottom-width: 0px;
}

.item p {
  color: #f8f8f8;
}

  .list .item.item-accordion {
  padding-top: 0;
  padding-bottom: 16px;
  border-width: 0px;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.bar.bar-assertive.bar-footer {
    background-color: #fcf2ee;
    border-color: #fcf2ee;
}
.bar.bar-assertive.bar-footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.0));
}


[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
     background: initial; 
}

.shuffle{
      padding-top: 3px;
}